@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1120px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  font-family: "Titillium Web";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.header {
  background-color: #87509c;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0px 0px 42px;
}

.header_top_nav_menu {
  position: fixed;
  background-color: #0c0b0b;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}

.header_top_menu-burger {
  display: none;
}

.header_top_menu {
  font-size: 44px;
  color: white;
  cursor: pointer;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header_top_nav_menu .header_top_link {
  display: block;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.header_top_link {
  text-transform: uppercase;
  color: #ffffff;
  padding: 3px 15.8px 3px 15.8px;
  margin-right: 9.89px;
  border-radius: 3px;
}

.header_top_link:hover {
  background-color: #643a79;
}

.header_middle {
  max-width: 1000px;
  margin: auto;
  padding: 137px 15px 148.5px 15px;
}

.header_middle_span {
  margin-left: -9px;
}

.header_middle_text {
  text-align: center;
  padding-bottom: 55px;
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: calc( 21.1px + 21.1 * (100vw / 1440));
  color: #f7f3ea;
  line-height: 113.74408%;
}

@media (min-width: 1440px) {
  .header_middle_text {
    font-size: 42.2px;
  }
}

.header_middle_button {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: 293px;
  line-height: 67px;
  background-color: #eb7d4b;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  user-select: none;
  overflow: hidden;
  display: block;
  margin: auto;
  box-shadow: 0px 3.6px rgba(235, 125, 75, 0.7);
}

@media (max-width: 480px) {
  .header_middle_button {
    width: 234.4px;
    line-height: 53.6px;
    font-size: 14.4px;
  }
}

@media (max-width: 600px) {
  .header_middle_span {
    display: inline;
  }
}

.title {
  text-align: center;
}

.title_header {
  padding-bottom: 20px;
}

.title_services {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.title_services_text {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.title_line {
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  margin: auto;
  margin-bottom: 20px;
}

.services {
  background-color: #17c2a4;
  padding: 118px 0px 127.5px 0px;
}

.services_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.services_flex-block {
  flex: 0 1 260px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.services_img {
  height: 135px;
}

.services_title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 51px 0px 20px 0px;
}

.services_text {
  line-height: 24px;
  font-weight: 300;
}

.team {
  padding: 118px 0px 128px 0px;
  color: #3c4761;
  background-color: #e7f1f8;
}

.title_team {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-bottom: 22px;
}

.title_team_text {
  font-size: 18.6px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.006em;
}

.team_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 77px;
}

.team_block {
  text-align: center;
  flex: 0 0 260px;
}

.team_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.team_photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team_header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 40px 0px 13px 0px;
}

.team_profession {
  letter-spacing: 0.02em;
  color: #30bae7;
}

.team_text {
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  padding: 22px 0px 26px 0px;
}

.team_social-net a {
  display: inline-block;
  margin: 0 5px;
}

.team_social-net {
  text-align: center;
}

.skills {
  padding: 115.5px 0px 122px 0px;
  color: #3c4761;
}

.title_skills {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 6px;
}

.title_skills_text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.skills_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  color: #3c4761;
}

.skills_block {
  text-align: center;
  flex: 0 1 260px;
}

.skills_block img {
  max-width: 100%;
  min-height: 41px;
}

.skills_diagramma {
  margin: auto;
}

.portfolio {
  padding: 118.5px 0px 16px 0px;
  background-color: #ffdd99;
  color: #393939;
}

.title_portfolio {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 5px;
}

.title_portfolio_text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.portfolio_buttons {
  text-align: center;
  padding: 39px 0px 58px 0px;
  user-select: none;
}

.portfolio_click {
  display: inline-block;
  text-align: center;
  width: 86px;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0.07);
  color: #393939;
  cursor: pointer;
  border-radius: 0;
  font-size: 18px;
  user-select: none;
  overflow: hidden;
  letter-spacing: 0.02em;
  margin: 3px 4px 3px 3px;
}

@media (max-width: 480px) {
  .portfolio_click {
    width: 68.8px;
    line-height: 30.4px;
    font-size: 14.4px;
  }
}

.portfolio_img-box {
  display: flex;
  justify-content: space-between;
}

.portfolio_img {
  max-width: 541px;
  max-height: 354px;
  margin-bottom: 67px;
}

.portfolio_img img {
  width: 100%;
  height: 100%;
}

.portfolio_br {
  display: none;
}

.portfolio_button_wrapper {
  text-align: center;
  padding: 15px 0px 90px 0px;
}

.portfolio_button_more {
  display: inline-block;
  text-align: center;
  width: 293px;
  line-height: 70px;
  background-color: #17c2a4;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  user-select: none;
  overflow: hidden;
  box-shadow: 0 3px #14a58c;
  letter-spacing: 0.02em;
}

@media (max-width: 480px) {
  .portfolio_button_more {
    width: 234.4px;
    line-height: 56px;
    font-size: 14.4px;
  }
}

.us {
  background-color: #d74680;
  color: #ffffff;
  padding: 118px 0px 153px 0px;
  overflow-x: hidden;
}

.title_us {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.title_us_text {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.us_flex {
  display: grid;
  grid-template-columns: repeat(2, 590px);
  grid-row-gap: 165px;
  padding: 65px 0px 0px 0px;
  grid-auto-rows: auto;
}

.us_img {
  width: 96px;
  height: 96px;
  background-color: #787878;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: 42px;
}

.us_info {
  color: #ffffff;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 375px;
  height: 100%;
  padding: 2px 0px 0px 0px;
}

.us_text {
  font-size: 21px;
  line-height: 31px;
  font-style: italic;
  letter-spacing: 0.04em;
  height: 81%;
}

.us_title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.us_proffession {
  font-size: 18px;
  line-height: 26px;
  color: #ffdd99;
}

.form {
  background-color: #3c5499;
  padding: 118px 0px 120px 0px;
  color: #ffffff;
}

.title_form {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.title_form_text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.form_form {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-column-gap: 33px;
  grid-row-gap: 27px;
  max-width: 865px;
  margin: auto;
  padding: 74px 0px 0px 1px;
}

.form_inupt {
  width: 100%;
  height: 56px;
  background-color: #273971;
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  padding: 5px 0px 0px 26px;
}

.form_textarea {
  padding-top: 21px;
  height: 200px;
}

.form_label {
  position: relative;
}

.form_label span {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  position: absolute;
  left: 26px;
  top: 21px;
  cursor: text;
  display: none;
}

.form_inupt:invalid + span {
  display: inline-block;
}

.form_label_textarea {
  grid-column: 1/3;
}

.form_label span::after {
  content: " *";
  color: #ff4444;
  font-size: 16px;
}

.form_submit {
  display: inline-block;
  text-align: center;
  width: 293px;
  line-height: 68px;
  background-color: #30bae7;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  user-select: none;
  overflow: hidden;
  box-shadow: 0 3.5px #299ec5;
  display: block;
  margin: auto;
  margin-top: 58px;
}

@media (max-width: 480px) {
  .form_submit {
    width: 234.4px;
    line-height: 54.4px;
    font-size: 14.4px;
  }
}

#form_submit {
  display: none;
}

.footer {
  padding: 40px 0px 40px 0px;
  background-color: #344b8e;
}

.footer_flex {
  max-width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_link {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer_link:hover {
  color: #30bae7;
}

@media (max-width: 1150px) {
  .us_flex {
    grid-template-columns: 100%;
    grid-row-gap: 78px;
    text-align: center;
  }
  .us_info {
    text-align: left;
  }
}

@media (max-width: 900px) {
  .services_flex,
  .team_flex {
    overflow-x: scroll;
  }
  .services_flex-block,
  .team_block {
    flex-shrink: 0;
  }
  .skills_block {
    margin: 0 10px;
  }
  .footer {
    display: none;
  }
}

@media (max-width: 700px) {
  .header_top_menu-burger {
    display: block;
  }
  .header_top_nav {
    display: none;
  }
  .title_header {
    font-size: 28px;
    padding-top: 40px;
  }
  .br_service {
    display: none;
  }
  .skills {
    padding: 0px 0px 20px 0px;
  }
  .form_form, .form_label {
    display: block;
  }
  .form_label {
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .us_block {
    text-align: left;
    margin-left: 10%;
  }
  .us_info {
    height: auto;
  }
  .form {
    padding: 75px 0px 120px 0px;
  }
}

@media (max-width: 360px) {
  .portfolio_click {
    margin-left: 0;
    margin-right: 0px;
  }
}
